{% extends 'base.html' %}
{% load static %}

{% block content %}
    
    <div class="container" style='margin-top:20px'>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
						{% for imovel in imovel %}
                        <h2>Agendar Visita</h2>
						<form method='get' action='agendamento' class="row g-3">
							<div class="form-group col-md-12">
								Endereço:
							</div>
							<div class="input-group mb-3 col-md-8">
							  <div class="input-group-prepend">
								<label class="input-group-text" for="inputGroupSelect01">Rua:</label>
							  </div>
							  <input disabled type="text" class="form-control" name="rua" value="{{rua}}">
							</div>
							
							<div class="input-group mb-3 col-md-4">
							  <div class="input-group-prepend">
								<label class="input-group-text" for="inputGroupSelect01">Nº:</label>
							  </div>
							  <input disabled type="text" class="form-control" name="numero" value="{{numero}}">
							</div>
							
							<div class="input-group mb-3 col-md-6">
							  <div class="input-group-prepend">
								<label class="input-group-text" for="inputGroupSelect01">Bairro:</label>
							  </div>
							  <input disabled type="text" class="form-control" name="bairro" value="{{bairro}}">
							</div>
							
							<div class="input-group mb-3 col-md-6">
							  <div class="input-group-prepend">
								<label class="input-group-text" for="inputGroupSelect01">Cidade:</label>
							  </div>
							  <input disabled type="text" class="form-control" name="cidade" value="{{cidade}}">
							</div>

                            <div class="mb-3 col-md-6">
								<label for="data">Selecione a Data:</label>
								<input required type="date" class="form-control" name="data">
							</div>

							<input type='hidden' name='tipoImovel' value='{{tipoImovel}}'>
							<input type='hidden' name='id' value='{{imovel.id}}'>
                            
							<div class="col-md-12">
                                <button type="submit" class="btn btn-primary">Próximo</button>
                                <a href="agendar" class="btn btn-secondary">Voltar</a>
							</div>
						</form>
						{% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}