{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="https://demo.learncodeweb.com/favicon.ico">
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <title>Cadastro</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>


<div id="main" class="container-fluid" style="margin-top: 50px">
     <div id="top" class="row">
		<div class="col-md-3">
			<h2>Imóveis Cadastrados</h2>
		</div>
		
		<div class="col-md-7">

		</div>
	 
		<div class="col-md-2">
			<div class="input-group h2">
                <form action="" method="get">
                    <select onchange="this.form.submit()" required class="form-control" name="bairro">
                        <option disabled selected>Escolher Bairro</option>
                        <option value=''>Nenhum</option>
                        {% for bairro in bairros %}
                        <option onclick='' value='{{bairro}}'>{{bairro}}</option>
                        {% endfor %}
                    </select>
                </form>
			</div>
		</div>
	</div> <!-- /#top -->
 
     <hr />
     <div id="list" class="row">
        <div class="col-md-3">
			<h4>Casas</h2>
		</div>
    <div class="table-responsive col-md-12">
        <table class="table table-striped" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
					<th>Endereço</th>
					<th>Valor do Aluguel</th>
                    <th>Nº de Quartos</th>
                    <th>Nº de Suítes</th>
                    <th>Nº de Salas de Estar</th>
                    <th>Nº de Vagas de Garagem</th>
					<th>Área</th>
					<th>Possui Armário Embutido</th>
					<th>Descrição</th>
                    <th class="actions text-center">Ações</th>
                 </tr>
            </thead>
            <tbody>
			{% for casa in casas %}
                <tr>
					<td>{{casa.endereco}}</td>
					<td>{{casa.aluguel}}</td>
                    <td>{{casa.qtdeQuartos}}</td>
                    <td>{{casa.qtdeSuites}}</td>
					<td>{{casa.qtdeSalaEstar}}</td>
					<td>{{casa.qtdeVagasGaragem}}</td>
					<td>{{casa.area}}</td>
					<td>{{casa.possuiArmarioEmbutido}}</td>
					<td>{{casa.descricao}}</td>
                    <td align="center">	
						<a href="agendamento?tipoImovel=casa&id={{casa.id}}" class="text-primary"><i class="fas fa-calendar-alt"></i> Agendar</a>
					</td>
                </tr>
				{% endfor %}
            </tbody>
         </table>
 
     </div>
 </div> <!-- /#list -->

    <div id="list" class="row">
        <div class="col-md-3">
			<h4>Apartamentos</h2>
		</div>
 <div class="table-responsive col-md-12">
    <table class="table table-striped" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th>Endereço</th>
                <th>Valor do Aluguel</th>
                <th>Nº de Quartos</th>
                <th>Nº de Suítes</th>
                <th>Nº de Salas de Estar</th>
                <th>Nº de Salas de Jantar</th>
                <th>Nº de Vagas de Garagem</th>
                <th>Área</th>              
                <th>Andar</th>
                <th>Valor Condominio</th>
                <th>Portaria 24 horas</th>
                <th>Possui Armário Embutido</th>
                <th>Descrição</th>
                <th class="actions text-center">Ações</th>
             </tr>
        </thead>
        <tbody>
        {% for apt in apts %}
            <tr>
                <td>{{apt.endereco}}</td>
                <td>{{apt.aluguel}}</td>
                <td>{{apt.qtdeQuartos}}</td>
                <td>{{apt.qtdeSuites}}</td>
                <td>{{apt.qtdeSalaEstar}}</td>
                <td>{{apt.qtdeSalaJantar}}</td>               
                <td>{{apt.qtdeVagasGaragem}}</td>
                <td>{{apt.area}}</td>
                <td>{{apt.andar}}</td>
                <td>{{apt.valorCondominio}}</td>
                <td>{{apt.possuiPortaria}}</td>
                <td>{{apt.possuiArmarioEmbutido}}</td>
                <td>{{apt.descricao}}</td>
                <td align="center">	
                    <a href="agendamento?tipoImovel=apt&id={{apt.id}}" class="text-primary"><i class="fas fa-calendar-alt"></i> Agendar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
     </table>

 </div>
</div> <!-- /#list -->

 
     <div id="bottom" class="row">
     
     </div> <!-- /#bottom -->
 </div>  <!-- /#main -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/jquery.caret/0.1/jquery.caret.js"></script>
	<script
  src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
  integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
  crossorigin="anonymous"></script>
    
</body>

</html>