{% extends 'base.html' %}
{% load static %}

{% block content %}


	<div class="container" style='margin-top:20px'>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                       <div class="card-body">
						{% for apt in apt %}
                        <h2>Editar Apartamento</h2>
						<form method='post' action='editarApt' class="row g-3">
							{% csrf_token %}
							<div class="col-md-4">
								<label for="qtdeQuartos">Quantidade de Quartos:</label>
								<input required type="number" class="form-control" name="qtdeQuartos" value="{{apt.qtdeQuartos}}">
							</div>
							<div class="col-md-4">
								<label for="qtdeSuites">Quantidade de Suítes:</label>
								<input required type="number" class="form-control" name="qtdeSuites" value="{{apt.qtdeSuites}}">
							</div>
							<div class="col-md-4">
								<label for="qtdeSalaEstar">Quantidade de Salas de Estar:</label>
								<input required type="number" class="form-control" name="qtdeSalaEstar" value="{{apt.qtdeSalaEstar}}">
							</div>
							<div class="col-md-4">
								<label for="qtdeVagasGaragem">Quantidade de Vagas de Garagem:</label>
								<input required type="number" class="form-control" name="qtdeVagasGaragem" value="{{apt.qtdeVagasGaragem}}">
							</div><br>
							<div class="col-md-4">
								<label for="qtdeSalaJantar">Quantidade de Salas de Jantar:</label>
								<input required type="number" class="form-control" name="qtdeSalaJantar" value="{{apt.qtdeSalaJantar}}">
							</div><br>
							<div class="col-md-4"><br>
								<label for="andar">Andar:</label>
								<input required type="number" class="form-control" name="andar" value="{{apt.andar}}">
							</div><br>
							<div class="col-md-4">
								<label for="valorCondominio">Valor do Condomínio:</label>
								<input required type="number" class="form-control" name="valorCondominio" value="{{apt.valorCondominio}}">
							</div><br>
							<div class="col-md-4"><br>
								<label for="area">Área(m2):</label>
								<input required type="number" class="form-control" name="area" value="{{apt.area}}">
							</div>
							<div class="col-md-4"><br>
								<label for="area">Valor do Aluguel:</label>
								<input required type="number" class="form-control" name="aluguel" value="{{apt.aluguel}}">
							</div>
							<div class="col-md-6">
								<label class="form-check-label" for="possuiPortaria">Possui portaria 24h?</label>
							</div>
							{% if apt.possuiPortaria %}
								<div class="col-md-3">
										<input type="radio" name="possuiPortaria" value="sim" checked>
										<label for="portariaSim">Sim</label>
								</div>
								<div class="col-md-3">
										<input type="radio" name="possuiPortaria" value="nao">
										<label for="portariaNao">Não</label><br>  
								</div>
							{% else %}
								<div class="col-md-3">
										<input type="radio" name="possuiPortaria" value="sim">
										<label for="portariaSim">Sim</label>
								</div>
								<div class="col-md-3">
										<input type="radio" name="possuiPortaria" value="nao" checked>
										<label for="portariaNao">Não</label><br>  
								</div>
							{% endif %}
							<div class="col-md-6">
								<label class="form-check-label" for="possuiArmarioEmbutido">Possui armário embutido?</label>
							</div>
							{% if apt.possuiArmarioEmbutido %}
								<div class="col-md-3">
										<input type="radio" name="possuiArmarioEmbutido" value="sim" checked>
										<label for="armarioSim">Sim</label>
								</div>
								<div class="col-md-3">
										<input type="radio" name="possuiArmarioEmbutido" value="nao">
										<label for="armarioNao">Não</label><br>  
								</div>
							{% else %}
								<div class="col-md-3">
										<input type="radio" name="possuiArmarioEmbutido" value="sim">
										<label for="armarioSim">Sim</label>
								</div>
								<div class="col-md-3">
										<input type="radio" name="possuiArmarioEmbutido" value="nao" checked>
										<label for="armarioNao">Não</label><br>  
								</div>
							{% endif %}
							<div class="form-group col-md-12">
								<label for="descricao">Descrição:</label><br>
								<textarea required name="descricao" name="descricao" rows="4" cols="50">{{apt.descricao}}</textarea>
							</div>
							<div class="form-group col-md-12">
								Endereço:
							</div>
							<div class="input-group mb-3 col-md-8">
							  <div class="input-group-prepend">
								<label class="input-group-text" for="inputGroupSelect01">Rua:</label>
							  </div>
							  <input required type="text" class="form-control" name="rua" value="{{rua}}">
							</div>
							
							<div class="input-group mb-3 col-md-4">
							  <div class="input-group-prepend">
								<label class="input-group-text" for="inputGroupSelect01">Nº:</label>
							  </div>
							  <input required type="text" class="form-control" name="numero" value="{{numero}}">
							</div>
							
							<div class="input-group mb-3 col-md-6">
							  <div class="input-group-prepend">
								<label class="input-group-text" for="inputGroupSelect01">Bairro:</label>
							  </div>
							  <input required type="text" class="form-control" name="bairro" value="{{bairro}}">
							</div>
							
							<div class="input-group mb-3 col-md-6">
							  <div class="input-group-prepend">
								<label class="input-group-text" for="inputGroupSelect01">Cidade:</label>
							  </div>
							  <input required type="text" class="form-control" name="cidade" value="{{cidade}}">
							</div>

							<input type='hidden' name='tipoImovel' value='apartamento'>
							<input type='hidden' name='id' value='{{apt.id}}'>
							<div class="col-12">
							<button type="submit" class="btn btn-primary">Salvar</button>
							<button type="reset" class="btn btn-secondary">Limpar</a>
							</div>
						</form>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}