{% extends 'base.html' %}
{% load static %}

{% block content %}

<div id="main" class="container-fluid" style="margin-top: 50px">
     <div id="top" class="row">
		<div class="col-md-3">
			<h2>Imóveis Cadastrados</h2>
		</div>

        <div class="col-md-5">

		</div>
		
		<div class="col-md-2">
			
		</div>
	 
		<div class="col-md-2">
            <a href="cadastro" class="btn btn-primary pull-right h2"><i class="fa fa-fw fa-plus-circle"></i> Cadastrar Imóvel</a>
		</div>
	</div> <!-- /#top -->
 
     <hr />
     <div id="list" class="row">
        <div class="col-md-3">
			<h4>Casas</h2>
		</div>
    <div class="table-responsive col-md-12">
        <table class="table table-striped" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
					<th>Endereço</th>
					<th>Valor do Aluguel</th>
                    <th>Nº de Quartos</th>
                    <th>Nº de Suítes</th>
                    <th>Nº de Salas de Estar</th>
                    <th>Nº de Vagas de Garagem</th>
					<th>Área (m2)</th>
					<th>Possui Armário Embutido</th>
					<th>Descrição</th>
                    <th class="actions text-center">Ações</th>
                 </tr>
            </thead>
            <tbody>
			{% for casa in casas %}
                <tr>
					<td>{{casa.endereco}}</td>
					<td>{{casa.aluguel}}</td>
                    <td>{{casa.qtdeQuartos}}</td>
                    <td>{{casa.qtdeSuites}}</td>
					<td>{{casa.qtdeSalaEstar}}</td>
					<td>{{casa.qtdeVagasGaragem}}</td>
					<td>{{casa.area}}</td>
					<td>{{casa.possuiArmarioEmbutido}}</td>
					<td>{{casa.descricao}}</td>
                    <td align="center">	
						<a href="editar?id={{casa.id}}" class="text-primary"><i class="fa fa-fw fa-edit"></i> Editar</a> | 
						<a href="deletar?tipoImovel=casa&id={{casa.id}}" onClick="return confirm('Deseja realmente excluir este item?');" class="text-danger""><i class="fa fa-fw fa-trash"></i> Deletar</a>
					</td>
                </tr>
				{% endfor %}
            </tbody>
         </table>
 
     </div>
 </div> <!-- /#list -->
 <div id="list" class="row">
    <div class="col-md-3">
        <h4>Apartamentos</h2>
    </div>
 <div class="table-responsive col-md-12">
    <table class="table table-striped" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th>Endereço</th>
                <th>Valor do Aluguel</th>
                <th>Nº de Quartos</th>
                <th>Nº de Suítes</th>
                <th>Nº de Salas de Estar</th>
                <th>Nº de Salas de Jantar</th>
                <th>Nº de Vagas de Garagem</th>
                <th>Área (m2)</th>              
                <th>Andar</th>
                <th>Valor Condominio</th>
                <th>Portaria 24 horas</th>
                <th>Possui Armário Embutido</th>
                <th>Descrição</th>
                <th class="actions text-center">Ações</th>
             </tr>
        </thead>
        <tbody>
        {% for apt in apts %}
            <tr>
                <td>{{apt.endereco}}</td>
                <td>{{apt.aluguel}}</td>
                <td>{{apt.qtdeQuartos}}</td>
                <td>{{apt.qtdeSuites}}</td>
                <td>{{apt.qtdeSalaEstar}}</td>
                <td>{{apt.qtdeSalaJantar}}</td>               
                <td>{{apt.qtdeVagasGaragem}}</td>
                <td>{{apt.area}}</td>
                <td>{{apt.andar}}</td>
                <td>{{apt.valorCondominio}}</td>
                <td>{{apt.possuiPortaria}}</td>
                <td>{{apt.possuiArmarioEmbutido}}</td>
                <td>{{apt.descricao}}</td>
                <td align="center">	
                    <a href="editarApt?id={{apt.id}}" class="text-primary"><i class="fa fa-fw fa-edit"></i> Editar</a> | 
                    <a href="deletar?tipoImovel=apt&id={{apt.id}}" onClick="return confirm('Deseja realmente excluir este item?');" class="text-danger""><i class="fa fa-fw fa-trash"></i> Deletar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
     </table>

 </div>
</div> <!-- /#list -->


 
     <div id="bottom" class="row">
     
     </div> <!-- /#bottom -->
 </div>  <!-- /#main -->
 {% endblock %}